---
import Layout from "../layouts/Layout.astro";
import Categories from "../components/Categories.svelte";
---

<Layout title="Pakui!">
  <main class="container mx-auto px-4 py-8">
    <h1 class="mb-8 text-center text-3xl font-bold">✈️ Pakui!</h1>
    <Categories client:load />
  </main>
</Layout>
